h1 {
    color: rgb(137, 14, 252);
    text-align: center;
    padding: 20px;
    border: 20px solid rebeccapurple;
    border-radius: 10px;
    width: auto;
    margin content: 20px;




}

.moni {
    color: red;
    font-size: larger;
}